<div class="banner">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container my-3">
  <div class="add-movie d-flex my-3 justify-content-between">
    <a href="<%= new_list_bookmark_path(@list) %>" class="btn btn-success">Add a movie</a>
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4 movie-list-card">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="example-2 bookmark-card mt-3">
        <div class="wrapper" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= bookmark.movie.poster_url%>')">
          <div class="header">
          </div>
          <div class="data">
            <div class="content">
              <span class="author"><%= bookmark.comment %></span>
              <h1 class="title"><a href="#"><%= bookmark.movie.title %></a></h1>
              <p class="text"><%= bookmark.movie.overview %></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
